# 📊 Aula 7 – Estatística Básica com `pandas`
**Objetivos da Aula**:
- Compreender e aplicar medidas estatísticas descritivas em DataFrames.
- Usar funções de agregação como `mean()`, `median()`, `std()`, `describe()`.
- Agrupar dados com `groupby()`.
- Realizar comparações entre categorias.

## 🔢 Parte 1 – Estatísticas descritivas

In [ ]:
import pandas as pd

df = pd.read_csv("vendas_ausente.csv", sep=";", decimal=",")

df.head(30)

#df.describe()

,produto,quantidade,preco_unitario,data_venda,valor_total,custo_total
0,Monitor,5.0,120.0,2023-04-13,600.0,472.141407
1,Teclado,10.0,900.0,2023-12-15,9000.0,6531.120878
2,Mouse,10.0,900.0,2023-09-28,9000.0,5922.478564
3,Notebook,15.0,120.0,2023-04-17,1800.0,1484.808558
4,Impressora,15.0,80.0,2023-03-13,1200.0,835.167366
5,Monitor,5.0,900.0,2023-07-08,4500.0,NaN
6,Notebook,10.0,3500.0,2023-01-21,35000.0,28931.630971
7,Mouse,15.0,750.0,2023-04-13,11250.0,8505.669364
8,Webcam,15.0,3500.0,2023-05-02,52500.0,33034.286784
9,Mouse,20.0,250.0,2023-08-03,5000.0,4174.790155
10,Notebook,15.0,900.0,2023-11-27,13500.0,10218.514679
11,Monitor,5.0,900.0,2023-03-29,4500.0,3076.768816
12,NaN,5.0,250.0,2023-04-10,1250.0,793.522523
13,Mouse,15.0,3500.0,2023-12-26,52500.0,41921.580609
14,Impressora,5.0,80.0,2023-06-01,400.0,302.007276
15,Headset,15.0,80.0,2023-05-11,1200.0,880.038328
16,Mouse,20.0,750.0,2023-05-30,15000.0,12352.097186
17,Impressora,15.0,900.0,2023-11-05,13500.0,10761.515588
18,Teclado,10.0,750.0,2023-09-15,7500.0,4784.390399
19,Impressora,15.0,120.0,2023-12-10,1800.0,1220.274931
20,Impressora,15.0,80.0,2023-10-21,1200.0,794.546742
21,Monitor,15.0,80.0,2023-07-11,1200.0,NaN
22,Notebook,20.0,120.0,2023-10-04,2400.0,1460.119461
23,Headset,10.0,900.0,2023-06-10,9000.0,6682.251791
24,Teclado,NaN,120.0,2023-11-10,NaN,NaN
25,Mouse,20.0,3500.0,2023-01-22,70000.0,57343.398643
26,Notebook,5.0,250.0,2023-09-10,1250.0,856.900546
27,Monitor,5.0,120.0,2023-08-24,600.0,NaN
28,Impressora,5.0,3500.0,2023-12-11,17500.0,10984.013849
29,Notebook,5.0,750.0,2023-02-18,3750.0,3043.549024

In [ ]:
# coluna valor total

# cálculo da média (.mean())
print(f"Média: {df['valor_total'].mean():.2f}")

# cálculo da mediana (.median())
print("Mediana:", df["valor_total"].median())

print("Mediana:", df[["valor_total", "quantidade"]].median())

Média: 11005.61
Mediana: 2400.0
Mediana: valor_total    2400.0
quantidade       15.0
dtype: float64

In [ ]:
print("Desvio padrão:", df["valor_total"].std())
print("Máximo:", df["valor_total"].max())
print("Mínimo:", df["valor_total"].min())

print("Desvio padrão:", df[["valor_total", "quantidade"]].std())

Desvio padrão: 18502.764484567906
Máximo: 70000.0
Mínimo: 400.0
Desvio padrão: valor_total    18502.764485
quantidade         5.867909
dtype: float64

In [ ]:
# estatisticas descritivas

df.describe()

       quantidade  preco_unitario   valor_total   custo_total
count  191.000000      204.000000    187.000000    178.000000
mean    12.591623      813.676471  11005.614973   8229.568432
std      5.867909     1180.163099  18502.764485  13914.024946
min      5.000000       80.000000    400.000000    241.309446
25%      5.000000      120.000000   1200.000000    773.665750
50%     15.000000      120.000000   2400.000000   1489.371793
75%     20.000000      900.000000  11250.000000   9207.050795
max     20.000000     3500.000000  70000.000000  57343.398643

In [ ]:
#quantis .quantile(numero que varia de 0 a 1)

print("Primeiro quartil do custo total {:.2f}".format(df['custo_total'].quantile(0.25)) )

Primeiro quartil do custo total 773.67

## 🔗 Parte 2 – Agrupando dados com `groupby()`

In [ ]:
#vendas médias por produto
agrupado = df.groupby("produto")["valor_total"].mean()
print(agrupado)

produto
Headset        5823.076923
Impressora     5669.117647
Monitor        6202.564103
Mouse         11326.923077
Notebook      18164.285714
Teclado       13576.190476
Webcam        15487.500000
Name: valor_total, dtype: float64

In [ ]:
#vendas totais por produto
agrupadototais = df.groupby("produto")["valor_total"].sum()
print(agrupadototais)

produto
Headset        75700.0
Impressora    192750.0
Monitor       241900.0
Mouse         294500.0
Notebook      508600.0
Teclado       285100.0
Webcam        309750.0
Name: valor_total, dtype: float64

In [ ]:
#totais por produto (para todas as colunas)
agrupadototais = df.groupby("produto").sum()
print(agrupadototais)

            quantidade  preco_unitario  \
produto
Headset          155.0          7910.0
Impressora       440.0         16640.0
Monitor          395.0         25670.0
Mouse            360.0         25720.0
Notebook         420.0         36990.0
Teclado          265.0         21720.0
Webcam           265.0         21420.0

                                                   data_venda  valor_total  \
produto
Headset     2023-05-112023-06-102023-01-212023-09-212023-0...      75700.0
Impressora  2023-03-132023-06-012023-11-052023-12-102023-1...     192750.0
Monitor     2023-04-132023-07-082023-03-292023-07-112023-0...     241900.0
Mouse       2023-09-282023-04-132023-08-032023-12-262023-0...     294500.0
Notebook    2023-04-172023-01-212023-11-272023-10-042023-0...     508600.0
Teclado     2023-12-152023-09-152023-11-102023-06-242023-0...     285100.0
Webcam      2023-05-022023-02-202023-11-162023-05-112023-1...     309750.0

              custo_total
produto
Headset      56767.353395
Impressora  131426.028181
Monitor     149588.558482
Mouse       221133.999300
Notebook    372663.076560
Teclado     215340.383079
Webcam      210514.017484

In [ ]:
contagem = df.groupby("produto").count() # numero de ocorrências não vazias para cada coluna
print(contagem)

print(contagem[["quantidade"]])

            quantidade  preco_unitario  data_venda  valor_total  custo_total
produto
Headset             13              15          15           13           13
Impressora          34              38          39           34           33
Monitor             39              40          41           39           35
Mouse               27              29          30           26           25
Notebook            29              31          32           28           26
Teclado             21              23          23           21           21
Webcam              20              21          21           20           19
            quantidade
produto
Headset             13
Impressora          34
Monitor             39
Mouse               27
Notebook            29
Teclado             21
Webcam              20

## 📊 Parte 3 – Contagem de valores com `value_counts()`

In [ ]:
df["produto"].value_counts() #conta a frequencia de observações na coluna produto

produto
Monitor       41
Impressora    39
Notebook      32
Mouse         30
Teclado       23
Webcam        21
Headset       15
Name: count, dtype: int64

## 🧹 Parte 4 – Lidando com valores ausentes

In [ ]:
valores = df["valor_total"].fillna(0)
print("Média com ausentes tratados:", valores.mean())
print("Média sem ausentes:", df["valor_total"].mean())

Média com ausentes tratados: 9800.238095238095
Média sem ausentes: 11005.614973262032

## 📝 Parte 5 – Exercícios
### 🔸 Exercício 1
Calcule a média, mediana e desvio padrão da coluna `quantidade`.

### 🔸 Exercício 2
Crie um agrupamento com a média do `valor_total` por `produto`.

### 🔸 Exercício 3
Mostre quantas vendas ocorreram de cada produto com `value_counts()`.

### 🔸 Exercício 4
Qual produto teve maior média de `valor_total` por venda?

In [ ]:
# Exercício 1

print("Média", df["quantidade"].mean())
print("Mediana", df["quantidade"].median())
print("Desvio padrão", df["quantidade"].std())

Média 12.591623036649215
Mediana 15.0
Desvio padrão 5.867908529432128

In [ ]:
#Exercício 2

agrupamento=df.groupby("produto")["valor_total"].mean()
print(agrupamento)

produto
Headset        5823.076923
Impressora     5669.117647
Monitor        6202.564103
Mouse         11326.923077
Notebook      18164.285714
Teclado       13576.190476
Webcam        15487.500000
Name: valor_total, dtype: float64

In [ ]:
#Exercicio 3
print(df[["produto","valor_total"]].value_counts())
print(df.groupby("produto")["valor_total"].value_counts())

produto     valor_total
Monitor     600.0          13
            1200.0          5
Impressora  1200.0          5
            1600.0          4
Monitor     4500.0          4
                           ..
Teclado     70000.0         1
Webcam      1200.0          1
            5000.0          1
            17500.0         1
            11250.0         1
Name: count, Length: 97, dtype: int64
produto  valor_total
Headset  400.0          2
         3750.0         2
         600.0          1
         800.0          1
         1200.0         1
                       ..
Webcam   600.0          1
         1200.0         1
         5000.0         1
         11250.0        1
         17500.0        1
Name: count, Length: 97, dtype: int64

In [ ]:
#Exercício 4

agrupamento=df.groupby("produto")["valor_total"].mean()

decrescente=agrupamento.sort_values(ascending=False)

print(decrescente)

display(decrescente.index[0])

produto
Notebook      18164.285714
Webcam        15487.500000
Teclado       13576.190476
Mouse         11326.923077
Monitor        6202.564103
Headset        5823.076923
Impressora     5669.117647
Name: valor_total, dtype: float64

'Notebook'

## 🔁 Parte 6 – Revisão
| Comando                          | Ação                                      |
|----------------------------------|-------------------------------------------|
| `df.describe()`                  | Estatísticas básicas                      |
| `df["coluna"].mean()`            | Média                                     |
| `df["coluna"].median()`          | Mediana                                   |
| `df["coluna"].std()`             | Desvio padrão                             |
| `df.groupby("coluna")[...]`     | Agrupar por categorias                    |
| `df["coluna"].value_counts()`    | Frequência de valores                     |

## 🧩 Tarefa para Casa
Utilize o arquivo `vendas_ausente.csv`:
1. Calcule a média e o desvio padrão da `preco_unitario`.
2. Mostre a mediana de `valor_total` para cada produto (use `groupby`).
3. Exiba qual produto teve maior número de vendas (com `value_counts`).
4. Calcule a média de `quantidade` por mês (`data_venda` convertida para mês).

### Dica para o item 4:
```python
df["data_venda"] = pd.to_datetime(df["data_venda"], errors='coerce')
df["mes"] = df["data_venda"].dt.to_period("M")
df.groupby("mes")["quantidade"].mean()
```

In [ ]:
df["data_venda"] = pd.to_datetime(df["data_venda"], errors='coerce')
df["mes"] = df["data_venda"].dt.to_period("M")
df.groupby("mes")["quantidade"].mean()

mes
2023-01    11.153846
2023-02    12.368421
2023-03    12.500000
2023-04     9.782609
2023-05    16.538462
2023-06    13.750000
2023-07    13.928571
2023-08    11.904762
2023-09    11.875000
2023-10    13.928571
2023-11    11.785714
2023-12    13.611111
Freq: M, Name: quantidade, dtype: float64