Nome: S√©rgio Ricardo Vieira Torres Silva

Curso: Economia

Matricula: 21211879

## üß© Tarefa para Casa
Utilize o arquivo `vendas_ausente.csv`:
1. Calcule a m√©dia e o desvio padr√£o do `preco_unitario`.
2. Mostre a mediana de `valor_total` para cada produto (use `groupby`).
3. Exiba qual produto teve maior n√∫mero de vendas (com `value_counts`).
4. Calcule a m√©dia de `quantidade` por m√™s (`data_venda` convertida para m√™s).

### Dica para o item 4:
```python
df["data_venda"] = pd.to_datetime(df["data_venda"], errors='coerce')
df["mes"] = df["data_venda"].dt.to_period("M")
df.groupby("mes")["quantidade"].mean()

In [2]:
import pandas as pd
df = pd.read_csv("/content/vendas_ausente.csv", sep = ";", decimal = ",")
df.head()

,produto,quantidade,preco_unitario,data_venda,valor_total,custo_total
0,Monitor,5.0,120.0,2023-04-13,600.0,472.141407
1,Teclado,10.0,900.0,2023-12-15,9000.0,6531.120878
2,Mouse,10.0,900.0,2023-09-28,9000.0,5922.478564
3,Notebook,15.0,120.0,2023-04-17,1800.0,1484.808558
4,Impressora,15.0,80.0,2023-03-13,1200.0,835.167366

In [18]:
#1) calcular a m√©dia e o desvio padr√£o do pre√ßo unit√°rio
mean = df["preco_unitario"].mean()
print(mean)

std = df["preco_unitario"].std()
print(std)

813.6764705882352
1180.1630985368388

In [19]:
#2) mostrando a mediana de valor_total para cada produto usando o "groupby"
agrupar = df.groupby("produto")["valor_total"].median()
print(agrupar)

produto
Headset       1800.0
Impressora    1600.0
Monitor       1200.0
Mouse         4500.0
Notebook      4125.0
Teclado       7500.0
Webcam        2400.0
Name: valor_total, dtype: float64

In [20]:
#3) Exiba qual produto teve maior n√∫mero de vendas (com `value_counts`).
agrupamento = df.groupby("produto")["valor_total"].sum()
decrescente = agrupamento.sort_values(ascending = False)

decrescente.head()

produto
Notebook    508600.0
Webcam      309750.0
Mouse       294500.0
Teclado     285100.0
Monitor     241900.0
Name: valor_total, dtype: float64

In [21]:
#4) Calcule a m√©dia de `quantidade` por m√™s (`data_venda` convertida para m√™s).
df['data_venda'] = pd.to_datetime(df['data_venda'], errors='coerce')
df['mes'] = df['data_venda'].dt.to_period('M')
df.groupby('mes')['quantidade'].mean()

mes
2023-01    11.153846
2023-02    12.368421
2023-03    12.500000
2023-04     9.782609
2023-05    16.538462
2023-06    13.750000
2023-07    13.928571
2023-08    11.904762
2023-09    11.875000
2023-10    13.928571
2023-11    11.785714
2023-12    13.611111
Freq: M, Name: quantidade, dtype: float64